menu "I2S and SD Configuration"
    choice SD_INTERFACE
        prompt "SD Card Interface Protocol"
        default MMC
        help
            Define the number of bits for each sample. Default 24 bits per sample.

        config MMC
            bool "MMC"
        config SPI
            bool "SPI"
    endchoice
endmenu
