menu "I2S Configuration"
    menu "I2S GPIOs config"
        config I2S_MCK_IO
            int "MCK pin"
            default -1
            help 
                unused pin is set to -1

        config I2S_BCK_IO
            int "BCK pin"
            default 41

        config I2S_WS_IO
            int "WS pin"
            default 42

        config I2S_DO_IO
            int "DOUT pin"
            default -1
            help 
                unused pin is set to -1

        config I2S_DI_IO
            int "DIN pin"
            default 2

    endmenu
endmenu
